*{
    font-family: 'Zilla Slab', serif;
}


body
{
    background-color: #f3d1ed9d;
}

.header h1
{
    /* align-self: center; */
    text-align: center;
    color: #C12EA7;
}

.formbody h3
{ 
    width:100%;
    /* border: 3px solid whitesmoke; */

    /* box-shadow:  grey; */
    align-content: center;
    align-items: center;
    align-self: center;

    text-align: center;
    /* background-image: linear-gradient(120deg,white,pink); */

    text-decoration: underline solid ;
    color: #C12EA7;

}

/* .formbody{
    background-image: linear-gradient(120deg,pink,grey);
} */
.formbody table
{
    padding: 20px;
    width: 100%;
    height: 700px;
    background-color: #FDD6F6;
    align-items: center;
    align-content: center;
    align-self: auto;
    background-image: linear-gradient(120deg,white, pink);
    /* border:20px solid crimson;  */
    /* border-color: black; */
    /* border-width: 40px; */
    /* border-style: groove; */
    /* border-style: dashed double dotted solid; */
    /* border-start-end-radius: 20px; */
} 


.formbody form
{
  
    text-align: center;
    /* background-origin: padding-box; */
   
    /* margin: 20px; */
    /* border: coral; */
    width: 100%;
    border-width: thin;
    border-color: crimson;

}

 input
 {
    padding: 10px;
    width: max-content;
    /* border: none; */
    border-radius: initial;
    margin: 30px;
    border-color: pink;
    /* opacity: 0.7; */
    /* width: 100%; */
    height: 20px;
    font-size: small;

}

.formbody input:hover{
    opacity: 0.5;
}
.submit_button input{
    align-self: center; 
    width: 100%;
    height: 35px;
    align-content: center;
    align-items: center;
} 



td{
    font-size: 30px;
    color:#C12EA7;
}
.check input{
    cursor:pointer;
    width: 15px;
    height: 15px;
}

.check{
    font-size: 20px;
}

.radio input{
cursor: pointer;
width:10%;
height: 1em;
margin: 10px;

}

.radio{
    font-size: 20px;   
}

button
{
    margin:50px;
    width:150px;
    height:50px;
    color:#FDD6F6;
    background-color:#C12EA7 ;
    border:none;
    /* box-shadow: 10px 5px ; */
}

button:hover{
    /* opacity: 0.5; */
    background-color: #333030;
    color:rgb(247, 243, 243);
}